{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="wrapper">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-field">
        <input type="file" name="avatar">
        <label style="padding-bottom: 10px;" for="">Change your avatar</label>
    </div>
    <div class="input_field">
        <input type="password" name="password">
        <label style="color: white;" for="">Change your password</label>
    </div>
    <button style="margin-top: 10px;" type="submit" >Update your profile</button>
</form></div>

