{% load static %}


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h2>Log In</h2>
        <div class="input-field">
            <input type="text" name="username" required>
            <label>Enter your Name</label>
        </div>
        <div class="input-field">
            <input type="password" name="password"  required>
            <label>Enter your password</label>
        </div>
        <br>
        <button type="submit" >Sign In</button>
    </form>
</div>
