{% load static %}



<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="wrapper">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Registration</h2>
        <div class="input-field">
            <input type="text" required name="username">
            <label>Enter your Name</label>
        </div>
        <div class="input-field">
        </div>
        <div class="input-field">
            <input type="file" required name="avatar">
            <label>Please choose avatar for yourself</label>
        </div>
        <div class="input-field">
            <input type="phone_num" required name="avatar" >
            <label>Please enter your phone number</label>
        </div>
        <div class="input-field">
            <input type="password" name="password1"  required>
            <label>Enter your password</label>
        </div>
        <div class="input-field">
            <input type="password"  name="password2" required>
            <label>Confirm your password</label>
        </div>
        <br>
        <button type="submit" value="Registrate">Sign up</button>
        <!-- {{forms.as_p}} -->
        <input type="submit" value="Registrate">
    </form>
</div>
